.modules-news .news-fifty-left{
	float: left;
	width: 48%;
	margin-right: 10px;
	margin-bottom: 12px;
}
.modules-news .news-fifty-right{
	float: right;
	width: 48%;
	margin-left: 10px;
	margin-bottom: 12px;
}
.modules-news ul.news li{
	display: inline;
}
.modules-news ol.news li{
	width: 100%;
	padding: 10px 0;
	clear: left;
	display: table;
	margin-bottom: 12px;
}
.modules-news ul.detail{
	margin: 40px 0;
}
.modules-news ul.detail li{
	clear: both;
}
.modules-news ul.detail li strong{
	width: 33%;
	display: block;
	float: left;
	text-align: right;
	padding: 2px 0;
	padding-right: 15px;
}

.modules-news .information{
	padding: 2px 0;
	padding-left: 15px;
	float: left;
	width: 56%;
	border-left: 1px solid #000000;
}

.modules-news ul.mini-navigation{
	list-style-type: none;
}


.modules-news-newsContextualList ol li,
.modules-news-newsList ol li{
	margin-bottom: 12px;
}

.modules-news-newsContextualList ul.navigation li,
.modules-news-newsList ul.navigation li{
	width: 50%;
}
.modules-news-newsContextualList li.last,
.modules-news-newsList li.last{
	float: none;
}
.modules-news-newsContextualList h2.title,
.modules-news-newsList h2.title{
	margin-top: 12px;
}

@import url(/modules/news/style/frontoffice.khtml.all.css);
@import url(/modules/news/style/frontoffice.presto.all.css);