<p tal:condition="container" change:create="" model="news/news" parentId="${container/getId}"><tal:block change:translate="&modules.news.frontoffice.Create-new-in-topic; containerLabel container/getLabel">Créer une actualité dans la rubrique ${container/getLabel}</tal:block></p>

<div change:include="module 'news'; template 'News-Inc-Mininav'; type 'html'; listPage listPage; archivePage archivePage; hasFeed hasFeed; containerId containerId; hasList hasList; hasArchive hasArchive; siblingId siblingId; displayrsslink displayrsslink" />

<div class="cleaner"/>

<ol>
	<span tal:condition="php: paginator->count() GT 1">
		<span tal:define="global leftliclass string:news-fifty-left first" />
	</span>
	<span tal:condition="php: paginator->count() LE 1">
		<span tal:define="global leftliclass string:news-fifty-left first last" />
	</span>
	<li tal:define="iterator paginator/getIterator" tal:condition="iterator/valid" class="news-fifty-left">
		<div tal:define="position alternator/position; item iterator/current" change:include="module 'news'; template 'News-Inc-Listitembigvisual'; type 'html'; displayVisual displayVisual; news item; displayLeft position" />
	</li>


	<li class="news-fifty-right">
		<ol>
			<span tal:repeat="item paginator" tal:omit-tag="">
				<li tal:condition="not: repeat/item/start">
					<div tal:define="position alternator/position" change:include="module 'news'; template 'News-Inc-Listitem'; type 'html'; displayVisual displayVisual; news item; displayLeft position; removeFromNewsListParameter removeFromNewsListParameter" />
					<div class="cleaner"/>
				</li>
			</span>
		</ol>
	</li>
</ol>