<p tal:condition="container" change:create="" model="news/news" parentId="${container/getId}" change:translate="&modules.news.frontoffice.Create-new-in-topic"></p>

<div change:include="module 'news'; template 'News-Inc-Mininav'; type 'html'; listPage listPage; archivePage archivePage; hasFeed hasFeed; containerId containerId; hasList hasList; hasArchive hasArchive; siblingId siblingId; displayrsslink displayrsslink" />

<ol class="news">
	<span tal:repeat="item paginator" tal:omit-tag="">
		<li>
			<div tal:define="position alternator/position" change:include="module 'news'; template 'News-Inc-Listitem'; type 'html'; displayVisual displayVisual; news item; displayLeft position; parentref parentref; removeFromNewsListParameter removeFromNewsListParameter" />
			<div class="cleaner"/>
		</li>
	</span>
</ol>

<div change:paginator="paginator"/>