<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title change:translate="&amp;modules.news.bo.general.NoPreviewPage;">Page de prévisualisation non définie</title>
<style type="text/css">
body,p,h1 {
	color: black;
	font-family: Arial, Helvetica, Sans-serif;
}

body {
	background-color: #ddd;
	margin: 0;
	padding: 0;
}

div.box {
	border-top: 2px solid silver;
	border-bottom: 2px solid silver;
	background-color: white;
	margin: 100px 0px;
	padding: 15px 100px;
}
</style>
</head>
<body>
<div class="box">
<h1 change:translate="&amp;modules.news.bo.general.NoPreviewPage;">Page de prévisualisation non définie.</h1>
<p change:translate="&amp;modules.news.bo.general.NoPreviewPageText;">La page de prévisualisation n'est pas définie dans les préférences du module Formulaire.</p>
</div>
</body>
</html>